@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */


html {
  --bg-color: #fff;
  --text-color: #000;
  --border-animated-color: #707b8d;
  --border-animated-color-inner: #a0a8b3;
  --border-color: #94a3b8;
  --border-color-inner: #cbd5e1;
}

html.dark {
  --bg-color: #000;
  --text-color: #fff;
  --border-animated-color: #6c757dff;
  --border-animated-color-inner: #40464b;
  --border-color: #343a40ff;
  --border-color-inner: #212529ff; 
}

body {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-right: 1px dashed var(--border-color);
  border-left: 1px dashed var(--border-color);
  transition: all 200ms ease-in-out;
}



/* .card:hover::before {
  opacity: 0.8;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.1),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 500ms ease-out;
  width: 100%;
  z-index: 2;
} */


.background-animate {
  background-size: 400%;
  -webkit-animation: bg-span 15s ease infinite;
  -moz-animation: bg-span 15s ease infinite;
  animation: bg-span 15s ease infinite;
}

.pulse-border {
  -webkit-animation: border-pulse 1s ease-in forwards 250ms;
  -moz-animation: border-pulse 1s ease-in forwards 250ms;
  animation: border-pulse 1s ease-in forwards 250ms;
}

.pulse-border-inner {
  -webkit-animation: border-pulse-inner 1s ease-in forwards 250ms;
  -moz-animation: border-pulse-inner 1s ease-in forwards 250ms;
  animation: border-pulse-inner 1s ease-in forwards 250ms;
}

@keyframes bg-span {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes border-pulse {
  0% {
    border-color: var(--bg-color)
  }
  50% {
    border-color: var(--border-animated-color);
  }
  100% {
    border-color: var(--border-color);
  }
}

@keyframes border-pulse-inner {
  0% {
    border-color: var(--bg-color)
  }
  50% {
    border-color: var(--border-animated-color-inner);
  }
  100% {
    border-color: var(--border-color-inner);
  }
}