@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown h1 {
    @apply text-2xl font-bold border-b border-slate-100 dark:border-gray-1000 w-full pb-2;
  }

  .markdown h2 {
    @apply text-xl font-bold border-b border-slate-100 dark:border-gray-1000 w-full pb-2;
  }

  .markdown h3 {
    @apply text-lg font-bold;
  }

  .markdown h4 {
    @apply text-base font-semibold;
  }

  .markdown h5 {
    @apply text-sm font-medium;
  }

  .markdown h6 {
    @apply text-xs font-normal;
  }
  .markdown em {
    @apply italic;
  }

  .markdown image {
    @apply max-w-full bg-contain bg-center;
  }

  .markdown ul {
    @apply list-disc list-inside;
  }

  .markdown ol {
    @apply list-decimal list-inside;
  }
  .markdown p {
    @apply my-2 font-medium;
  }

  .markdown blockquote {
    @apply border-l-2 border-slate-400 dark:border-gray-400 pl-3 my-3 text-gray-700  dark:text-slate-400;
  }

  .markdown a {
    @apply border-b border-transparent hover:opacity-75 duration-100 hover:border-current;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  --bg-color: #fff;
  --text-color: #000;
  --border-animated-color: #7e899b;
  --border-animated-color-inner: #acb4be;
  --border-color: #c1cad6;
  --border-color-inner: #dfe7f1;
}

html.dark {
  --bg-color: #000;
  --text-color: #fff;
  --border-animated-color: #6c757dff;
  --border-animated-color-inner: #40464b;
  --border-color: #343a40ff;
  --border-color-inner: #212529ff;
  --hello: #f8fafc;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-right: 1px dashed var(--border-color);
  border-left: 1px dashed var(--border-color);
  transition: all 200ms ease-in-out;
}

.radiobtn:checked {
  border: none;
}
.radiobtn:checked + .check-icon {
  display: flex;
}

.animate-bg-span {
  -webkit-animation: bg-span 15s ease infinite alternate;
  -moz-animation: bg-span 15s ease infinite alternate;
  animation: bg-span 15s ease infinite alternate;
}

.pulse-border {
  -webkit-animation: border-pulse 1s ease-in forwards 250ms;
  -moz-animation: border-pulse 1s ease-in forwards 250ms;
  animation: border-pulse 1s ease-in forwards 250ms;
}

.pulse-border-inner {
  -webkit-animation: border-pulse-inner 1s ease-in forwards 250ms;
  -moz-animation: border-pulse-inner 1s ease-in forwards 250ms;
  animation: border-pulse-inner 1s ease-in forwards 250ms;
}

@keyframes bg-span {
  0%,
  100% {
    background-position: 0% 50%;
    background-size: 200%;
  }

  50% {
    background-position: 100% 50%;
    background-size: 400%;
  }
}

@keyframes border-pulse {
  0% {
    border-color: var(--bg-color);
  }
  50% {
    border-color: var(--border-animated-color);
  }
  100% {
    border-color: var(--border-color);
  }
}

@keyframes border-pulse-inner {
  0% {
    border-color: var(--bg-color);
  }
  50% {
    border-color: var(--border-animated-color-inner);
  }
  100% {
    border-color: var(--border-color-inner);
  }
}
